<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ViolationRecordMapper">

    <resultMap type="com.ruoyi.system.domain.ViolationRecord" id="ViolationRecordResult">
        <id     property="id"            column="id"              />
        <result property="permissionId" column="permission_id"    />
        <result property="violationType" column="violation_type"  />
        <result property="description"  column="description"     />
        <result property="longitude"    column="longitude"       />
        <result property="latitude"     column="latitude"       />
        <result property="handleStatus" column="handle_status"   />
        <result property="createBy"     column="create_by"       />
        <result property="createTime"   column="create_time"     />
        <result property="updateBy"     column="update_by"       />
        <result property="updateTime"   column="update_time"     />
        <result property="remark"       column="remark"         />
        <result property="applicationNo" column="application_no" />
    </resultMap>

    <sql id="selectViolationRecordVo">
        select v.id, v.permission_id, v.violation_type, v.description, v.longitude, v.latitude, v.handle_status,
               v.create_by, v.create_time, v.update_by, v.update_time, v.remark,
               a.application_no
        from violation_record v
        left join flight_permission p on v.permission_id = p.id
        left join flight_application a on p.application_id = a.id
    </sql>

    <select id="selectViolationRecordById" parameterType="Long" resultMap="ViolationRecordResult">
        <include refid="selectViolationRecordVo"/>
        where v.id = #{id}
    </select>

    <select id="selectViolationRecordList" parameterType="com.ruoyi.system.domain.ViolationRecord" resultMap="ViolationRecordResult">
        <include refid="selectViolationRecordVo"/>
        <where>
            <if test="permissionId != null">
                AND v.permission_id = #{permissionId}
            </if>
            <if test="violationType != null and violationType != ''">
                AND v.violation_type = #{violationType}
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                AND v.handle_status = #{handleStatus}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND date_format(v.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND date_format(v.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="params.applicantId != null">
                AND a.applicant_id = #{params.applicantId}
            </if>
        </where>
    </select>

    <insert id="insertViolationRecord" parameterType="com.ruoyi.system.domain.ViolationRecord" useGeneratedKeys="true" keyProperty="id">
        insert into violation_record (permission_id, violation_type, description, longitude, latitude, handle_status, create_by, create_time, remark)
        values (#{permissionId}, #{violationType}, #{description}, #{longitude}, #{latitude}, #{handleStatus}, #{createBy}, sysdate(), #{remark})
    </insert>

    <update id="updateViolationRecord" parameterType="com.ruoyi.system.domain.ViolationRecord">
        update violation_record
        <set>
            <if test="violationType != null and violationType != ''">violation_type = #{violationType},</if>
            <if test="description != null">description = #{description},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="handleStatus != null">handle_status = #{handleStatus},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteViolationRecordById" parameterType="Long">
        delete from violation_record where id = #{id}
    </delete>

    <delete id="deleteViolationRecordByIds" parameterType="Long">
        delete from violation_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 某权限的违规点列表（地图红色 marker） -->
    <select id="selectViolationPointsByPermissionId" resultType="map">
        select id, permission_id as permissionId, violation_type as violationType, description,
               longitude, latitude, create_time as createTime
        from violation_record
        where permission_id = #{permissionId}
          and longitude is not null and latitude is not null
        order by create_time
    </select>
</mapper>
